.manage-schedule-container{
    .m-s-title{
        text-transform: uppercase;//im hoa
        margin-top: 15px;
        font-weight: 600; //đậm
        text-align: center;//căn giữa
        margin-bottom: 15px;
        font-size: 17px;
    }
    .pick-hour-container {
        padding-top: 20px;
        padding-bottom: 20px;
        
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        button {
            padding: 5px 15px;
            border: 1px solid gray;
        }
    }

    .btn-schedule {
        &.active {
            background-color: #fff8ae;
        }
    }
    .btn-save-schedule{
        margin-top: 20px;

        
    }
}